name: "Code checks"

on: ["push", "pull_request"]

jobs:
  unittests:
    name: Unittests (PyTest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version-file: "pyproject.toml"
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
      - uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c  # v2.0.2
      - name: Run PyTest with coverage
        uses: pavelzw/pytest-action@510c5e90c360a185039bea56ce8b3e7e51a16507  # v2.2.0
        with:
          custom-pytest: "uv run pytest"
          custom-arguments: "--cov-report term --cov-report lcov:coverage.lcov --cov"
          verbose: true
          job-summary: true
          report-title: "Test Report"
          click-to-expand: true
          emoji: true
      - name: Archive curl result from app test
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: Curl result from app test
          path: tests/generated_streamlit_http_get_response.html
      - name: Upload coverage (Coveralls)
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b  # v2.3.6

  linting:
    name: Linting (ruff)
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1  # v3.5.1
        with:
          version: 0.14.9  # Pinned to match pyproject.toml - if changed, also change in pyproject.toml
      - run: ruff check
      - run: ruff format --check --diff
