name: "Code checks"

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main


jobs:
  unittests:
    name: Unittests
    uses: ./.github/workflows/unittest.yml

  linting:
    name: Linting
    uses: ./.github/workflows/linting.yml
